.cardStyle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 270px;
    margin: 1rem;
    background: linear-gradient(145deg, #f0f0f0, #cacacaa0);
    box-shadow: 10px 10px 10px #21c3d85a;
}

.cardStyle #image {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

span {
    color: red;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#like-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#like-info h4 {
    margin: 0;
    padding: 0;
}

#likes {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

#add-button {
    padding: 2px;
    background: rgb(90, 61, 169);

}

.button {
    width: 50px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 50%;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: red;
    z-index: 1;
}

.button:hover:after {
    width: 100%;
    left: 0;
}

.button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: red;
    border-radius: 50%;
    right: 0;
}

.button:active {
    top: 2px;
}

.close-button {
    position: absolute;
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: red;
    padding: 3px;
    border-radius: 40px;
    top: 0;
    right: 4px;
    cursor: pointer;
    background: linear-gradient(145deg, #fafafa88, #ffffff);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.close-button:hover {
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

.flipCard {
    display: none;
    position: absolute;
}