.cardStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 270px;
    margin: 0.7rem;
    padding: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

#image {
    display: flex;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

span {
    font-size: 1.5rem;
    color: red;
    margin-right: 5px;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black;
    border-radius: 5px; */
}

#like-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;

}

#likes {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

#add-button {
    padding: 0 20px;
    border: 0;
    background: none;
}