.cardStyle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 270px;
    margin: 0.7rem;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

#image {
    display: flex;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    max-width: 200px;
    max-height: 170px;
}

span {
    font-size: 1.5rem;
    color: red;
    margin-right: 5px;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid black;
    border-radius: 5px; */
}

#like-info {
    display: flex;
    width: 100%;
    justify-content: center;

}

#likes {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

#add-button {
    padding: 2px;
    border: 0;
    margin: 5px;
    background: rgb(47, 47, 47);

}

.button {
    margin-top: 2.3rem;
    height: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: red;
    z-index: 1;
}

.button:hover:after {
    width: 100%;
    left: 0;
}

.button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: red;
    right: 0;
}

.button:active {
    top: 2px;
}

.close-button {
    position: absolute;
    display: flex;
    text-transform: bold;
    text-align: center;
    color: red;
    padding: 5px;
    border-radius: 40px;
    top: 0;
    right: 4px;
    cursor: pointer;
    background: linear-gradient(145deg, #f0f0f088, #cacaca);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.close-button:hover {
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
}