.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
}