nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

a.active {
    color: #bab9b9;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    color: #ffffff;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.388);
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.6rem;
}