@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

.search {
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 0 2rem;
    padding: 1rem;
}

.search h2 {
    font-family: 'Cantora One', Futura;
    letter-spacing: 2px;
}

.search span {
    color: rgba(255, 0, 0, 0.862);
}

input {
    padding: 10px 10px;
}